#container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   max-width: 900px;
}

.cards {
    margin: 10px;
    border: 1px solid black;
    padding: 10em 2em;
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 20px rgba(52, 52, 52, 0.7);
}

#bday {
    background-color: fuchsia;
}


#anni {
    background-color: lightseagreen;
}

#cond {
    background-color: brown;
}

#adultb {
    background-color: rebeccapurple;
}
